<div class="table-responsive">
        <table class="table" border="2">
          <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Address</th>
          </tr>
          <tr *ngFor="let user of userlist">
            <td>{{user.userId}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobileNo}}</td>
            <td>{{user.address}}</td>
         </tr>
        </table>
      </div>
      <input type="button" value="GoBack" (click)="GoBack()" class="btn btn-danger">
      