
<nav class="navbar sticky-top navbar-inverse" *ngIf="flag" ><!--class="navbar sticky-top navbar-inverse" *ngIf="flag"-->
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="/homeuser">Hello, {{userRole}}</a>
         
        </div>
       
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" [ngSwitch]="userRole">
          <ul class="nav navbar-nav">
  
            <li><a routerLink="/homeuser/edit">Edit Profile</a></li>
  
  
            <ul class="nav navbar-nav" *ngSwitchCase="'ADMIN'">
            <li><a routerLink="/homeuser/listfoundation">List Foundation</a></li>
            <li><a routerLink="/homeuser/managefoundation">Manage Foundation</a></li>
        </ul>
  
  
            <ul class="nav navbar-nav" *ngSwitchCase="'ORGANISATION'">
                <li><a routerLink="/homeuser/listdoner">List Doner</a></li>
                <li><a routerLink="/homeuser/accountinfo">Account Information</a></li>

          </ul>
           
          <ul class="nav navbar-nav" *ngSwitchCase="'DONER'">
            <li><a routerLink="/homeuser/ourfocusarea">Our Focus Area</a></li>
            
  
            <li> <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Organisation">
              </div>
              <button type="button" (click)="onSearch()" class="btn btn-default">Search</button>
            </form></li>
          </ul>
  
          <ul class="nav navbar-nav navbar-right">
            <li><button (click)="onLogout()" style="margin-top: 10px;" class="btn btn-link">Logout</button></li>
          </ul>
        </ul>
        </div>  
    </div>
  </nav>
 <div class="container">
    <router-outlet></router-outlet>
  </div> 
  