
<div class="table-responsive">
    <table class="table table-hover" border="1">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <div style="height:100%;width:33.33;">
            <tr>
                <td style="height: 42%;width:30.5%">
                    
                    <img  src="../assets/education.jpg" class="img-responsive" alt="Image">
                    
                </td>
                <td style="height: 100%;width:36%">
                    
                    <img src="../assets/healthcare.jpg" class="img-responsive" alt="Image">
                </td>
                <td style="height: 120%;width:90%">
                    
                    <img src="../assets/OrphanageGroupCropped.jpg" class="img-responsive" alt="Image">

                </td>
                
            </tr>
            <tr>
                <td style="align-content: center">
                    <input class="btn btn-success" type="button" (click)="Donate()" value="Donate">
                </td>

                <td>
                    <input class="btn btn-success" type="button" (click)="Donate()" value="Donate">

                </td>

                <td>
                    <input class="btn btn-success" type="button" (click)="Donate()" value="Donate">

                </td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
