
<div>
    <nav class="navbar navbar-default navbar-static-top"
    role="navigation" style="height: 100px">
       
       <ul class="nav navbar-nav">
    
          <a class="navbar-brand" rel="home" href="#" title="Brand">
              <img style="height: 50px; width: 50px; margin-top: -5px;"
                   src="/assets/2.jpeg">
        
        
          </a>
           <li class="active" style="margin-left: 60px;text-align: center; font-size: 36px;padding-top: 20px;">
               <a routerLink="/home" >Home</a>
           </li>
           <li style="align-content: center;margin-left: 15px;text-align: center; font-size: 36px;padding-top: 20px;">
               <a routerLink="/aboutus">About</a>
           </li>
           <li style="align-content: center;margin-left: 20px;text-align: center; font-size: 36px;padding-top: 20px;">
               <a routerLink="/ourfocusarea" >Our Focus Area</a>
           </li>
           <li style="align-content: center;margin-left: 30px;text-align: center; font-size: 36px;padding-top: 20px;">
               <a routerLink="/contact" >Contact Us</a>
           </li>
           <li style="align-content: center;margin-left: 40px ;text-align: center; font-size: 36px;padding-top: 20px;">
               <a routerLink="/login" >Login</a>
           </li>
          
           
       </ul>
    </nav>
    <hr>
    </div>






<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<div class="form-group">
<label for="">Name</label>
<input [(ngModel)]="userDetails.name" type="text" class="form-control">
</div>
<div class="form-group">
<label for="">Email</label>
<input [(ngModel)]="userDetails.email" type="email" class="form-control">
</div>
<div class="form-group">
<label for="">Phone</label>
<input [(ngModel)]="userDetails.mobileNo" type="text" class="form-control">
</div>
<div class="form-group">
    <label for="category">Category</label>
    <br>
    <select id="category" [(ngModel)]="orgName" (change)="changedata($event)" name="category"  style="width: 100%; height: 40px;">
        <option *ngFor="let org of orgList" name="orgName" [value]="org.orgId" > {{org.user.name}}</option>
    </select>
</div>
<div class="form-group">
<label for="">Amount</label>
<input [(ngModel)]="donate.donationAmount" type="number" class="form-control">
</div>

<div class="form-group" style="align-content:center">

<button type="submit" (click)="onDonate(donate)" class="btn btn-success">Donate</button>
</div>
</div>
</div>